@use "base/variables" as v;

/* Las clases declaradas en HTML no tienen nada que ver con el nombre que le demos al mixin.
 Así se declara un mixin */
/* @mixin heading($color: blue, $border-radius: false) {  //le estamos pasando el parametro de color + un color por defaull.
    text-transform: uppercase;
    font-size: 2.4rem;
    color: $color;

    @if border-radius{  // POdemos usar condicionales gracias a gulp
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }
}
 */

@mixin phone {
  @media (min-width: v.$phone) {
    @content;  /* Content nos sirve para poder agrearle contenido tipo block a los mixin de mediasquerys */
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin desktopXL {
  @media (min-width: v.$desktopXL) {
    @content;
  }
}


@mixin grid($columnas, $espaciado) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $espaciado;
}

@mixin resetear-lista{
    margin: 0;
    padding: 0;
    list-style: none;
}